table {
  font-size: 10pt;
}

.header-wrapper {
  position: fixed;
  overflow: hidden;
  visibility: hidden;
  z-index: 2;
}

.column-wrapper {
  position: fixed;
  overflow: hidden;
  visibility: hidden;
  z-index: 1;
}
