table {
  font-size: 10pt;
}

.header-wrapper {
  position: fixed;
  overflow: hidden;
  visibility: hidden;
  z-index: 2;
}

.column-wrapper {
  position: fixed;
  overflow: hidden;
  visibility: hidden;
  z-index: 1;
}

.column-header-wrapper {
  position: fixed;
  overflow: hidden;
  visibility: hidden;
  z-index: 3;
}

.scroll-bar-wrapper {
  position: fixed;
  overflow-x: scroll;
  visibility: hidden;
  bottom: 0;
  z-index: 2;
}
